<div class="row">
    <div class="col-md-12">
        {{> button_controls}}
        <h1 {{provenance . "rdfs:label"}}>{{literal rdfs:label}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Generic Release</a></li>
            <li><a href="{{admssw:project/ms:id}}">{{literal admssw:project/rdfs:label}}</a></li>
            <li class="active"><a href="{{ms:id}}">{{literal rdfs:label}}</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <pre>{{literal dc:description}}</pre>
        <ul>
            {{#eachArray admssw:package}}<li> <a href="{{ms:id}}">{{literal rdfs:label}}</a></li>{{/eachArray}}
        </ul>
    </div>
</div>
