<div class="row">
    <div class="col-md-12">
        {{> button_controls}}
        <h1 {{provenance . "rdfs:label"}}>{{literal rdfs:label}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>Generic</li>
            <li class="active">{{literal rdfs:label}}</li>
        </ol>
    </div>
</div>
{{#if lic:licensingViolation}}
    <div class="row">
        <div class="col-md-12">
            <div  {{provenance . "lic:licensingViolation"}}  class="panel panel-danger">
                <div class="panel-heading">Warning</div>
                <div class="panel-body">
                    <p>{{literal lic:licensingViolation/lic:description}}</p>
                    <p><a href="{{uri lic:licensingViolation/lic:conflicting/owl:sameAs}}">{{uri lic:licensingViolation/lic:conflicting/owl:sameAs}}</a></p>
                </div>
            </div>
        </div>
    </div>
{{/if}}
<div class="row">
    <div class="col-md-8">
        <h2>Description</h2>
        {{literal dc:description}}
        <h2>Releases</h2>
        <ul>
            {{#eachNext doap:release}}<li {{provenance .. "doap:release"}}> <a href="{{ms:id}}">{{literal doap:revision}}</a></li>{{/eachNext}}
        </ul>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Navigation</h4></div>
            <table class="table">
                <tr><th>Homepage</th><td><a href="{{uri doap:homepage}}">{{hostname doap:homepage}}</a></td></tr>
                <tr><th>Bugtracker</th><td><a href="{{uri doap:bug-database}}">{{hostname doap:bug-database}}</a></td></tr>
                <tr><th>Repository</th><td></td></tr>
                <tr><th>License</th><td>{{literal doap:license/spdx:licenseId}}</td></tr>
            </table>
        </div>
    </div>
</div>
