<div class="row">
    <div class="col-md-12">
        {{> button_controls}}
        <h1 {{provenance . "rdfs:label"}}>{{literal rdfs:label}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>Generic</li>
            <li class="active">{{literal rdfs:label}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Description</h2>
        {{literal dc:description}}
        <h2>Releases</h2>
        <ul>
            {{#eachNext doap:release}}<li {{provenance .. "doap:release"}}> <a href="{{ms:id}}">{{literal doap:revision}}</a></li>{{/eachNext}}
        </ul>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Navigation</h4></div>
            <table class="table">
                <tr><th>Homepage</th><td><a href="{{doap:homepage/ms:id}}">{{hostname doap:homepage}}</a></td></tr>
                <tr><th>Bugtracker</th><td><a href="{{doap:bug-database/ms:id}}">{{hostname doap:bug-database}}</a></td></tr>
                <tr><th>Repository</th><td></td></tr>
                <tr><th>License</th><td>{{doap:license}}</td></tr>
            </table>
        </div>
    </div>
</div>
