<ol class="breadcrumb">
    <li><a href="#">Generic Project</a></li>
    <li><a href="{{resourceURI}}">{{title}}</a></li>
    <li class="active">{{arch}}</li>
</ol>
<button type="button"  class="refresh btn btn-default pull-right "><i class="fa fa-refresh"></i> Request Refresh</button>
<h1>{{title}}</h1>
<div class="row">
    <div class="col-md-8">
        <pre>{{description}}</pre>
        Homepage: <a href="{{homepage}}">{{homepage}}</a>{{^homepage}}-{{/homepage}}
        <ul>
            {{#eachArray release}}<li> <a href="{{resourceURI}}">{{title}}</a></li>{{/eachArray}}
        </ul>
    </div>
</div>
