<div class="row">
    <div class="col-md-12">
        {{> button_controls}}
        <h1 {{provenance . "rdfs:label"}}>{{rdfs:label}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><img src="/{{deb:meta-distribution}}.png"  alt="{{deb:meta-distribution}}" style="height: 1em; vertical-align: baseline;"></li>
            <li class="active">{{rdfs:label}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <ul>
            {{#eachNext doap:release}}<li {{provenance .. "doap:release"}}> <a href="{{ms:id}}">{{deb:version}}</a></li>{{/eachNext}}
        </ul>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Navigation</h4></div>
            <table class="table">
                <tr><th>Bugtracker</th><td><a href="{{doap:bug-database}}">{{hostname doap:bug-database}}</a></td></tr>
                <tr><th>Repository</th><td></td></tr>
            </table>
        </div>
    </div>
</div>
