<ol class="breadcrumb">
    <li><a href="/d/packages/debian/">Debian Binary Packages</a></li>
    <li><a href="{{admssw:project/ms:id}}">{{dc:title}}</a></li>
    <li class="active">{{ms-deb:version}}</li>
</ol>
<button type="button"  class="refresh btn btn-default pull-right "><i class="fa fa-refresh"></i> Request Refresh</button>
<h1>{{title}}</h1>
<div class="row">
    <div class="col-md-8">
        <ul>
            {{#eachArray admssw:package}}<li> <a href="{{ms:id}}">{{ms-deb:architecture}}</a></li>{{/eachArray}}
        </ul>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Navigation</h4></div>
            <table class="table">
                <tr><th>Previous</th><td><a href="{{xhv:prev/ms:id}}">{{xhv:prev/ms-deb:version}}</a></td></tr>
                <tr><th>Next</th><td><a href="{{xhv:next/ms:id}}">{{xhv:next/ms-deb:version}}</a></td></tr>
                <tr><th>Project</th><td><a href="{{admssw:project/ms:id}}">{{dc:title}}</a></td></tr>
                <tr><th>Repository</th><td></td></tr>
            </table>
        </div>

    </div>

</div>
