<div class="row">
    <div class="col-md-12">
        {{> button_controls}}
        <h1 data-provenance="[{{ms:id}}][dc:title][{{dc:title}}]">{{dc:title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><img src="/{{ms-deb:meta-distribution}}.png" alt="{{ms-deb:meta-distribution}}" style="height: 1em; vertical-align: baseline;"></li>
            <li><a href="{{admssw:release/admssw:project/ms:id}}">{{ms-deb:packageName}}</a></li>
            <li><a href="{{admssw:release/ms:id}}">{{ms-deb:version}}</a></li>
            <li class="active">{{ms-deb:architecture}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <pre data-provenance="[{{ms:id}}][{ms-deb:description][{{ms-deb:description}}]">{{ms-deb:description}}</pre>
        Homegpage: {{#ms-deb:homepage}} <a class="external" href="{{this}}">{{this}}</a>{{/ms-deb:homepage}}{{^ms-deb:homepage}}-{{/ms-deb:homepage}}
        <br>
        Maintainer:
        <ul>
            {{#eachArray ms-deb:maintainer}}<li><a href="{{foaf:mbox/ms:id}}">{{foaf:name}} &lt; {{#mboxToAddress foaf:mbox/ms:id}}{{/mboxToAddress}}&gt;</a></li>{{/eachArray}}
        </ul>
        <br>
        Uploader:
        <ul>
            {{#eachArray ms-deb:uploader}}<li><a href="{{foaf:mbox}}">{{foaf:name}}</a></li>{{/eachArray}}
        </ul>
        Depends:
        <ul>
            {{>dependency  ms-deb:depends}}
        </ul>
        Suggests:
        <ul>
            {{>dependency  ms-deb:suggests}}
        </ul>
        Recommends:
        <ul>
            {{>dependency  ms-deb:recommends}}
        </ul>
        Breaks:
        <ul>
            {{>dependency  ms-deb:breaks}}
        </ul>
        Conflicts:
        <ul>
            {{>dependency  ms-deb:conflicts}}
        </ul>
        Replaces:
        <ul>
            {{>dependency  ms-deb:replaces}}
        </ul>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Navigation</h4></div>
            <table class="table">
                <tr data-provenance="[{{ms:id}}][xhv:prev][{{xhv:prev/ms:id}}]"><th>Previous</th><td><a href="{{xhv:prev/ms:id}}">{{xhv:prev/ms-deb:version}}</a></td></tr>
                <tr data-provenance="[{{ms:id}}][xhv:next][{{xhv:next/ms:id}}]"><th>Next</th><td><a href="{{xhv:next/ms:id}}">{{xhv:next/ms-deb:version}}</a></td></tr>
                <tr><th>Version</th><td><a href="{{admssw:release/ms:id}}">{{ms-deb:version}}</a></td></tr>
                <tr><th>Project</th><td><a href="{{admssw:release/admssw:project/ms:id}}">{{ms-deb:packageName}}</a></td></tr>
                <tr><th>Distribution</th><td>{{ms-deb:distribution}}</td></tr>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">File Information</h4></div>
            <table class="table">
                <tr><th>Filename</th><td>{{> copyInputField  ms-deb:filename}}</td></tr>
                <tr><th>MD5sum</th><td>{{> copyInputField ms-deb:md5sum}}</td></tr>
                <tr><th>SHA-1sum</th><td>{{> copyInputField  ms-deb:sha1sum}}</td></tr>
                <tr><th>SHA-256sum</th><td>{{> copyInputField  ms-deb:sha256sum}}</td></tr>
            </table>
        </div>
    </div>
</div>
