<div class="row">
    <div class="col-md-12">
        {{> button_controls}}
        <h1 data-provenance="[{{ms:id}}][dc:title][{{dc:title}}]">{{dc:title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><img src="/{{ms-deb:meta-distribution}}.png"  alt="{{ms-deb:meta-distribution}}" style="height: 1em; vertical-align: baseline;"></li>
            <li class="active">{{dc:title}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <ul>
            {{#eachNext doap:release}}<li data-provenance="[{{../ms:id}}][doap:release][{{ms:id}}]"> <a href="{{ms:id}}">{{ms-deb:version}}</a></li>{{/eachNext}}
        </ul>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Navigation</h4></div>
            <table class="table">
                <tr><th>Bugtracker</th><td><a href="{{doap:bug-database}}">{{hostname doap:bug-database}}</a></td></tr>
                <tr><th>Repository</th><td></td></tr>
            </table>
        </div>
    </div>
</div>
