<ol class="breadcrumb">
    <li><a href="/d/packages/debian/">Debian Binary Packages</a></li>
    <li><a href="/d/packages/debian/{{title}}">{{title}}</a></li>
    <li class="active"><a href="/d/packages/debian/{{title}}/{{version}}">{{version}}</a></li>

</ol>
<button type="button"  class="refresh btn btn-default pull-right "><i class="fa fa-refresh"></i> Request Refresh</button>
<h1>{{title}}</h1>
<div class="row">
    <div class="col-md-8">
        <ul>
            {{#eachArray release}}<li> <a href="/d/packages/debian/{{../title}}/{{version}}">{{version}}</a></li>{{/eachArray}}
        </ul>
    </div>
    <div class="col-md-4">

    </div>
</div>
