<div class="row">
    <div class="col-md-12">
        {{> button_controls}}
        <h1 data-provenance="[{{ms:id}}][dc:title][{{dc:title}}]">{{dc:title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><img src="/{{ms-deb:meta-distribution}}.png" alt="{{ms-deb:meta-distribution}}" style="height: 1em; vertical-align: baseline;"></li>
            <li><a href="{{uri admssw:release/admssw:project}}">{{ms-deb:packageName}}</a></li>
            <li><a href="{{uri admssw:release}}">{{ms-deb:version}}</a></li>
            <li class="active">{{ms-deb:architecture}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <pre data-provenance="[{{ms:id}}][{ms-deb:description][{{ms-deb:description}}]">{{ms-deb:description}}</pre>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Navigation</h4></div>
            <table class="table">
                <tr data-provenance="[{{ms:id}}][xhv:prev][{{uri xhv:prev}}]"><th>Previous</th><td><a href="{{uri xhv:prev}}">{{xhv:prev/ms-deb:version}}</a></td></tr>
                <tr data-provenance="[{{ms:id}}][xhv:next][{{uri xhv:next}}]"><th>Next</th><td><a href="{{uri xhv:next}}">{{xhv:next/ms-deb:version}}</a></td></tr>
                <tr><th>Version</th><td><a href="{{uri admssw:release}}">{{ms-deb:version}}</a></td></tr>
                <tr><th>Project</th><td><a href="{{uri admssw:release/admssw:project}}">{{ms-deb:packageName}}</a></td></tr>
                <tr><th>Distribution</th><td>{{ms-deb:distribution}}</td></tr>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">File Information</h4></div>
            <table class="table">
                <tr><th>Filename</th><td>{{> copyInputField  ms-deb:filename}}</td></tr>
                <tr><th>MD5sum</th><td>{{> copyInputField ms-deb:md5sum}}</td></tr>
                <tr><th>SHA-1sum</th><td>{{> copyInputField  ms-deb:sha1sum}}</td></tr>
                <tr><th>SHA-256sum</th><td>{{> copyInputField  ms-deb:sha256sum}}</td></tr>
            </table>
        </div>
    </div>
</div>
