<div class="row">
    <div class="col-md-12">
        {{> button_controls}}
        <h1 {{provenance . "rdfs:label"}}>{{rdfs:label}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>Common Vulnerabilities and Exposures</li>
            <li class="active">{{cve:cveId}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <pre {{provenance . "cve:summary"}}>{{cve:summary}}</pre>
        <h2>Affected Products</h2>
        <ul>
            {{#eachArray cve:vulnerableSoftware}}
                <li> <a href="{{uri this}}">{{#if rdfs:label}}{{text rdfs:label}}{{else}}{{uri this}}{{/if}}</a> </li>
            {{/eachArray}}
        </ul>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">Dates</h4></div>
            <table class="table">
                <tr {{provenance . "cve:publishedDatetime"}}><th>Published</th><td>{{date cve:publishedDatetime}}</td></tr>
                <tr {{provenance . "cve:exploitPublishedDatetime"}}><th>Exploit Published</th><td>{{date cve:exploitPublishedDatetime}}</td></tr>
                <tr {{provenance . "cve:discoveredDatetime"}}><th>Dicovered</th><td>{{date cve:discoveredDatetime}}</td></tr>
                <tr {{provenance . "cve:disclosureDatetime"}}><th>Disclosured</th><td>{{date cve:disclosureDatetime}}</td></tr>
                <tr {{provenance . "cve:lastModifiedDatetime"}}><th>Last Modified</th><td>{{date cve:lastModifiedDatetime}}</td></tr>
            </table>
        </div>
    </div>
</div>
